.acervo-body h3 {
    text-align: right;
    margin: 20px;
    color: #CC9A42;
    font-size: 2rem;
    font-weight: 300;
    max-width: 600px;
}

.acervo-container {
    width: 100%;
    background-color: #7C2E2C;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.acervo-contents {
    padding: 10px;
}

.acervo-image img {
    max-width: 100%;
    min-width: 40%;
    border-bottom-right-radius: 8px;
}

.acervo-AboutThis-Content {
    justify-content: center;
    align-items: center;
    background-color: #7C2E2C;
    width: 80%;
}

.acervo-button {
    justify-content: right;
}

.acervo-AboutThis-Content .acervo-button {
    margin: 0;
    padding: 0;
    display: flex;
}

.acervo-main .acervo-AboutThis-Content p {
    color: #F9EFE3;
    margin: 30px;
    padding: 0;
    cursor: default ;
}