html {
  background-color: #292929;
}

.App {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.banner-container img {
  width: 100%;
}

.logo-container {
  text-align: center;
}

.cardapio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0;
  padding: 20px;
}

.AboutUs {
  max-width: 100%;
  margin-top: 20%;
  margin-bottom: 0;
  text-align: center;
  background-color: #7C2E2C;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.AboutUs h2 {
  color: #F9EFE3;
}

.AboutUs h2 {
  text-align: center;
}