body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 3rem;
  color: #7C2E2C;
}

h2 {
  font-size: 2rem;
  font-style: italic;
  color: #7C2E2C;
}

p {
  font-size: 1rem;
  color: #F9EFE3;
  margin: 2px;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
