.palha {
    width: 280px;
    background-color: #7C2E2C;
    border-radius: 6px;
    text-align: center;
    margin: 10px 10px;
}

.palha .image-container img {
    max-width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 72px;
}

.palha .content-container {
    padding: 8px;
    color: #F9EFE3;
}

.palha .content-container p {
    color: #F9EFE3;
}